<div class="jumbotron">
  <h2>Launching Everflect...</h2>
  <p class="lead">Please wait, or press the button below.</p>
  <p class="lead"><a href="<%= @url %>" class="btn btn-primary btn-lg">Launch Everflect</a></p>
  <p>You may close this page after you log in.</p>
</div>

<script>
window.onload = function() {
// similar behavior as clicking on a link
window.location = "<%= @url %>";
}
</script>