<div class="jumbotron">
  <h2>Session expired</h2>
  <p class="lead">Please try logging in again from within the Everflect app.</p>
    <p class="lead"><a href="<%= @url %>" class="btn btn-primary btn-lg">Launch Everflect</a></p>
</div>
